In [2]:
# Task 0.5.1
one_hour = 60
one_day = 12 * one_hour
one_week = one_day * one_day
print(one_week)

518400

In [8]:
# Task 0.5.2
def get_remainder(num,denom):
    return(num-(denom * int(num/denom)))

print(get_remainder(4,4))
print(get_remainder(5,4))
print(get_remainder(2304811,47))

0
1
25

In [12]:
# Task 0.5.3
print((((673%3) == 0) and ((909%3) == 0)))
print((673%3))
print((909%3))

False
1
0

In [13]:
# Task 0.5.4
x = -9
y = 1/2
val = 2**(y+1/2) if x+10<0 else 2**(y-1/2)
print(val)

1.0

In [14]:
# Task 0.5.5
{x*x for x in {1,2,3,4,5}}

{1, 4, 9, 16, 25}

In [15]:
# Task 0.5.6
{2**x for x in {0,1,2,3,4}}

{1, 2, 4, 8, 16}

In [20]:
# Task 0.5.7
{x*y for x in {2,3,4} for y in {5,6,7}}

{10, 12, 14, 15, 18, 20, 21, 24, 28}

In [25]:
# Task 0.5.8
{x*y for x in {1,2,3,4,5} for y in {-1}}

{-5, -4, -3, -2, -1}

In [29]:
# Task 0.5.9
S = {1,2,3,4,5}
T = {3,4,5,6}
print(S & T)
print({x for x in S if x in T})

{3, 4, 5}
{3, 4, 5}

In [ ]:
# Task 0.5.10
l = [20,10,15,75]
print(sum(l)/len(l))

In [34]:
# Task 0.5.11
[[x,y] for x in ['A','B','C'] for y in [1,2,3]]

[['A', 1],
 ['A', 2],
 ['A', 3],
 ['B', 1],
 ['B', 2],
 ['B', 3],
 ['C', 1],
 ['C', 2],
 ['C', 3]]

In [38]:
# Task 0.5.12
LofL = [[1,2,3],[4,5,6],[7,8,9]]
print(sum(LofL,[]))
print(sum(sum(LofL,[])))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
45

In [43]:
# Task 0.5.13
[x,y,z] = [2*2,3*2]

ValueError: not enough values to unpack (expected 3, got 2)

In [53]:
# Task 0.5.14
def my_triple_sum(i,j,k):
    return(i+j+k)

S = {-4,-2,1,2,5,0}
[(i,j,k) for i in S for j in S for k in S if my_triple_sum(i,j,k) == 0]

[(0, 0, 0),
 (0, 2, -2),
 (0, -2, 2),
 (1, 1, -2),
 (1, -2, 1),
 (2, 0, -2),
 (2, 2, -4),
 (2, -4, 2),
 (2, -2, 0),
 (-4, 2, 2),
 (-2, 0, 2),
 (-2, 1, 1),
 (-2, 2, 0)]

In [54]:
# Task 0.5.15
[(i,j,k) for i in S for j in S for k in S if my_triple_sum(i,j,k) != 0]

[(0, 0, 1),
 (0, 0, 2),
 (0, 0, 5),
 (0, 0, -4),
 (0, 0, -2),
 (0, 1, 0),
 (0, 1, 1),
 (0, 1, 2),
 (0, 1, 5),
 (0, 1, -4),
 (0, 1, -2),
 (0, 2, 0),
 (0, 2, 1),
 (0, 2, 2),
 (0, 2, 5),
 (0, 2, -4),
 (0, 5, 0),
 (0, 5, 1),
 (0, 5, 2),
 (0, 5, 5),
 (0, 5, -4),
 (0, 5, -2),
 (0, -4, 0),
 (0, -4, 1),
 (0, -4, 2),
 (0, -4, 5),
 (0, -4, -4),
 (0, -4, -2),
 (0, -2, 0),
 (0, -2, 1),
 (0, -2, 5),
 (0, -2, -4),
 (0, -2, -2),
 (1, 0, 0),
 (1, 0, 1),
 (1, 0, 2),
 (1, 0, 5),
 (1, 0, -4),
 (1, 0, -2),
 (1, 1, 0),
 (1, 1, 1),
 (1, 1, 2),
 (1, 1, 5),
 (1, 1, -4),
 (1, 2, 0),
 (1, 2, 1),
 (1, 2, 2),
 (1, 2, 5),
 (1, 2, -4),
 (1, 2, -2),
 (1, 5, 0),
 (1, 5, 1),
 (1, 5, 2),
 (1, 5, 5),
 (1, 5, -4),
 (1, 5, -2),
 (1, -4, 0),
 (1, -4, 1),
 (1, -4, 2),
 (1, -4, 5),
 (1, -4, -4),
 (1, -4, -2),
 (1, -2, 0),
 (1, -2, 2),
 (1, -2, 5),
 (1, -2, -4),
 (1, -2, -2),
 (2, 0, 0),
 (2, 0, 1),
 (2, 0, 2),
 (2, 0, 5),
 (2, 0, -4),
 (2, 1, 0),
 (2, 1, 1),
 (2, 1, 2),
 (2, 1, 5),
 (2, 1, -4),
 (2, 1, -2),
 (2, 2, 0),
 (2, 2, 1),
 (2, 2, 2),
 (2, 2, 5),
 (2, 2, -2),
 (2, 5, 0),
 (2, 5, 1),
 (2, 5, 2),
 (2, 5, 5),
 (2, 5, -4),
 (2, 5, -2),
 (2, -4, 0),
 (2, -4, 1),
 (2, -4, 5),
 (2, -4, -4),
 (2, -4, -2),
 (2, -2, 1),
 (2, -2, 2),
 (2, -2, 5),
 (2, -2, -4),
 (2, -2, -2),
 (5, 0, 0),
 (5, 0, 1),
 (5, 0, 2),
 (5, 0, 5),
 (5, 0, -4),
 (5, 0, -2),
 (5, 1, 0),
 (5, 1, 1),
 (5, 1, 2),
 (5, 1, 5),
 (5, 1, -4),
 (5, 1, -2),
 (5, 2, 0),
 (5, 2, 1),
 (5, 2, 2),
 (5, 2, 5),
 (5, 2, -4),
 (5, 2, -2),
 (5, 5, 0),
 (5, 5, 1),
 (5, 5, 2),
 (5, 5, 5),
 (5, 5, -4),
 (5, 5, -2),
 (5, -4, 0),
 (5, -4, 1),
 (5, -4, 2),
 (5, -4, 5),
 (5, -4, -4),
 (5, -4, -2),
 (5, -2, 0),
 (5, -2, 1),
 (5, -2, 2),
 (5, -2, 5),
 (5, -2, -4),
 (5, -2, -2),
 (-4, 0, 0),
 (-4, 0, 1),
 (-4, 0, 2),
 (-4, 0, 5),
 (-4, 0, -4),
 (-4, 0, -2),
 (-4, 1, 0),
 (-4, 1, 1),
 (-4, 1, 2),
 (-4, 1, 5),
 (-4, 1, -4),
 (-4, 1, -2),
 (-4, 2, 0),
 (-4, 2, 1),
 (-4, 2, 5),
 (-4, 2, -4),
 (-4, 2, -2),
 (-4, 5, 0),
 (-4, 5, 1),
 (-4, 5, 2),
 (-4, 5, 5),
 (-4, 5, -4),
 (-4, 5, -2),
 (-4, -4, 0),
 (-4, -4, 1),
 (-4, -4, 2),
 (-4, -4, 5),
 (-4, -4, -4),
 (-4, -4, -2),
 (-4, -2, 0),
 (-4, -2, 1),
 (-4, -2, 2),
 (-4, -2, 5),
 (-4, -2, -4),
 (-4, -2, -2),
 (-2, 0, 0),
 (-2, 0, 1),
 (-2, 0, 5),
 (-2, 0, -4),
 (-2, 0, -2),
 (-2, 1, 0),
 (-2, 1, 2),
 (-2, 1, 5),
 (-2, 1, -4),
 (-2, 1, -2),
 (-2, 2, 1),
 (-2, 2, 2),
 (-2, 2, 5),
 (-2, 2, -4),
 (-2, 2, -2),
 (-2, 5, 0),
 (-2, 5, 1),
 (-2, 5, 2),
 (-2, 5, 5),
 (-2, 5, -4),
 (-2, 5, -2),
 (-2, -4, 0),
 (-2, -4, 1),
 (-2, -4, 2),
 (-2, -4, 5),
 (-2, -4, -4),
 (-2, -4, -2),
 (-2, -2, 0),
 (-2, -2, 1),
 (-2, -2, 2),
 (-2, -2, 5),
 (-2, -2, -4),
 (-2, -2, -2)]

In [57]:
# Task 0.5.16
set([(i,j,k) for i in S for j in S for k in S if my_triple_sum(i,j,k) != 0])

{(-4, -4, -4),
 (-4, -4, -2),
 (-4, -4, 0),
 (-4, -4, 1),
 (-4, -4, 2),
 (-4, -4, 5),
 (-4, -2, -4),
 (-4, -2, -2),
 (-4, -2, 0),
 (-4, -2, 1),
 (-4, -2, 2),
 (-4, -2, 5),
 (-4, 0, -4),
 (-4, 0, -2),
 (-4, 0, 0),
 (-4, 0, 1),
 (-4, 0, 2),
 (-4, 0, 5),
 (-4, 1, -4),
 (-4, 1, -2),
 (-4, 1, 0),
 (-4, 1, 1),
 (-4, 1, 2),
 (-4, 1, 5),
 (-4, 2, -4),
 (-4, 2, -2),
 (-4, 2, 0),
 (-4, 2, 1),
 (-4, 2, 5),
 (-4, 5, -4),
 (-4, 5, -2),
 (-4, 5, 0),
 (-4, 5, 1),
 (-4, 5, 2),
 (-4, 5, 5),
 (-2, -4, -4),
 (-2, -4, -2),
 (-2, -4, 0),
 (-2, -4, 1),
 (-2, -4, 2),
 (-2, -4, 5),
 (-2, -2, -4),
 (-2, -2, -2),
 (-2, -2, 0),
 (-2, -2, 1),
 (-2, -2, 2),
 (-2, -2, 5),
 (-2, 0, -4),
 (-2, 0, -2),
 (-2, 0, 0),
 (-2, 0, 1),
 (-2, 0, 5),
 (-2, 1, -4),
 (-2, 1, -2),
 (-2, 1, 0),
 (-2, 1, 2),
 (-2, 1, 5),
 (-2, 2, -4),
 (-2, 2, -2),
 (-2, 2, 1),
 (-2, 2, 2),
 (-2, 2, 5),
 (-2, 5, -4),
 (-2, 5, -2),
 (-2, 5, 0),
 (-2, 5, 1),
 (-2, 5, 2),
 (-2, 5, 5),
 (0, -4, -4),
 (0, -4, -2),
 (0, -4, 0),
 (0, -4, 1),
 (0, -4, 2),
 (0, -4, 5),
 (0, -2, -4),
 (0, -2, -2),
 (0, -2, 0),
 (0, -2, 1),
 (0, -2, 5),
 (0, 0, -4),
 (0, 0, -2),
 (0, 0, 1),
 (0, 0, 2),
 (0, 0, 5),
 (0, 1, -4),
 (0, 1, -2),
 (0, 1, 0),
 (0, 1, 1),
 (0, 1, 2),
 (0, 1, 5),
 (0, 2, -4),
 (0, 2, 0),
 (0, 2, 1),
 (0, 2, 2),
 (0, 2, 5),
 (0, 5, -4),
 (0, 5, -2),
 (0, 5, 0),
 (0, 5, 1),
 (0, 5, 2),
 (0, 5, 5),
 (1, -4, -4),
 (1, -4, -2),
 (1, -4, 0),
 (1, -4, 1),
 (1, -4, 2),
 (1, -4, 5),
 (1, -2, -4),
 (1, -2, -2),
 (1, -2, 0),
 (1, -2, 2),
 (1, -2, 5),
 (1, 0, -4),
 (1, 0, -2),
 (1, 0, 0),
 (1, 0, 1),
 (1, 0, 2),
 (1, 0, 5),
 (1, 1, -4),
 (1, 1, 0),
 (1, 1, 1),
 (1, 1, 2),
 (1, 1, 5),
 (1, 2, -4),
 (1, 2, -2),
 (1, 2, 0),
 (1, 2, 1),
 (1, 2, 2),
 (1, 2, 5),
 (1, 5, -4),
 (1, 5, -2),
 (1, 5, 0),
 (1, 5, 1),
 (1, 5, 2),
 (1, 5, 5),
 (2, -4, -4),
 (2, -4, -2),
 (2, -4, 0),
 (2, -4, 1),
 (2, -4, 5),
 (2, -2, -4),
 (2, -2, -2),
 (2, -2, 1),
 (2, -2, 2),
 (2, -2, 5),
 (2, 0, -4),
 (2, 0, 0),
 (2, 0, 1),
 (2, 0, 2),
 (2, 0, 5),
 (2, 1, -4),
 (2, 1, -2),
 (2, 1, 0),
 (2, 1, 1),
 (2, 1, 2),
 (2, 1, 5),
 (2, 2, -2),
 (2, 2, 0),
 (2, 2, 1),
 (2, 2, 2),
 (2, 2, 5),
 (2, 5, -4),
 (2, 5, -2),
 (2, 5, 0),
 (2, 5, 1),
 (2, 5, 2),
 (2, 5, 5),
 (5, -4, -4),
 (5, -4, -2),
 (5, -4, 0),
 (5, -4, 1),
 (5, -4, 2),
 (5, -4, 5),
 (5, -2, -4),
 (5, -2, -2),
 (5, -2, 0),
 (5, -2, 1),
 (5, -2, 2),
 (5, -2, 5),
 (5, 0, -4),
 (5, 0, -2),
 (5, 0, 0),
 (5, 0, 1),
 (5, 0, 2),
 (5, 0, 5),
 (5, 1, -4),
 (5, 1, -2),
 (5, 1, 0),
 (5, 1, 1),
 (5, 1, 2),
 (5, 1, 5),
 (5, 2, -4),
 (5, 2, -2),
 (5, 2, 0),
 (5, 2, 1),
 (5, 2, 2),
 (5, 2, 5),
 (5, 5, -4),
 (5, 5, -2),
 (5, 5, 0),
 (5, 5, 1),
 (5, 5, 2),
 (5, 5, 5)}

In [61]:
# Task 0.5.17
L = [1,1,2,3,4]
print(len(L))
print(set(L))
print(list(set(L)))
print(len(list(set(L))))

5
{1, 2, 3, 4}
[1, 2, 3, 4]
4

In [3]:
# Task 0.5.18
[x for x in range(100) if x%2 == 0]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [8]:
# Task 0.5.19
L = ['A','B','C','D','E']
t = list((x,y) for (x,y) in zip(range(5),L))
t

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D'), (4, 'E')]

In [13]:
# Task 0.5.20
list(x+y for (x,y) in zip([10,25,20],[1,15,20]))

[11, 40, 40]

In [17]:
# Task 0.5.21
dlist = [{'James':'Sean', 'director':'Terence'}, {'James':'Roger', 'director':'Lewis'}, {'James':'Pierce', 'director':'Roger'}]
k = 'James'
[x[k] for x in dlist]

['Sean', 'Roger', 'Pierce']

In [19]:
# Task 0.5.22
dlist = [{'Bilbo':'Ian','Frodo':'Elijah'}, {'Bilbo':'Martin','Thorin':'Richard'}]
k = 'Bilbo'
print([x[k] if k in x else 'NOT_PRESENT' for x in dlist])
k = 'Frodo'
print([x[k] if k in x else 'NOT_PRESENT' for x in dlist])

['Ian', 'Martin']
['Elijah', 'NOT_PRESENT']

In [20]:
# Task 0.5.23
{k:k*k for k in range(100)}

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401,
 50: 2500,
 51: 2601,
 52: 2704,
 53: 2809,
 54: 2916,
 55: 3025,
 56: 3136,
 57: 3249,
 58: 3364,
 59: 3481,
 60: 3600,
 61: 3721,
 62: 3844,
 63: 3969,
 64: 4096,
 65: 4225,
 66: 4356,
 67: 4489,
 68: 4624,
 69: 4761,
 70: 4900,
 71: 5041,
 72: 5184,
 73: 5329,
 74: 5476,
 75: 5625,
 76: 5776,
 77: 5929,
 78: 6084,
 79: 6241,
 80: 6400,
 81: 6561,
 82: 6724,
 83: 6889,
 84: 7056,
 85: 7225,
 86: 7396,
 87: 7569,
 88: 7744,
 89: 7921,
 90: 8100,
 91: 8281,
 92: 8464,
 93: 8649,
 94: 8836,
 95: 9025,
 96: 9216,
 97: 9409,
 98: 9604,
 99: 9801}

In [21]:
# Task 0.5.24
D = {'red','white','blue'}
{x:x for x in D}

{'blue': 'blue', 'red': 'red', 'white': 'white'}

In [34]:
# Task 0.5.25 - TO DO
base = 10
digits = set(range(base))
#print({x:[x,y,z for z in range(base) for y in range(base) for z in range(base)] for x in range(99)})
# representation_dict = {x:[x // base**2 ,(x % base**2) // base, x % base] for x in range(1000)}

In [ ]:
# Task 0.5.26