## Sets

In [1]:
x = set()

In [2]:
x

set()

In [3]:
x.add(1)

In [4]:
x

{1}

In [5]:
x.add(2)

In [6]:
x

{1, 2}

In [7]:
x.add('three')

In [8]:
x

{1, 2, 'three'}

In [9]:
l = [1,1,2,2,2,3,3,3,3,4,4,4,4,4,4]

In [10]:
l

[1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4]

In [11]:
set(l)

{1, 2, 3, 4}

In [14]:
l.append(1)

In [15]:
l

[1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 1]

In [16]:
x.add(1)

In [17]:
x

{1, 2, 'three'}

In [4]:
s1 = {1,2,3}
s2={4,5,6}

In [2]:
# Union
s1 | s2

{1, 2, 3, 4, 5, 6}

In [3]:
# Intersection
s1 & s2

set()

In [4]:
(s1 | s2) & {1,2}

{1, 2}

# Comprehensions in Set

In [3]:
{x*x for x in s1}

NameError: name 's1' is not defined

In [6]:
{x*x for x in s1|s2}

{1, 4, 9, 16, 25, 36}

In [7]:
# see that empty set is given as 'set()' and not as {}
{x*x for x in s1&s2}

set()

In [8]:
{x*x for x in s1|s2 if x>3}

{16, 25, 36}

In [9]:
# Comprehensing list over set
[x*x for x in s1|s2]

[1, 4, 9, 16, 25, 36]

In [5]:
# Double Comprehension
{x*y for x in s1 for y in s2}

{4, 5, 6, 8, 10, 12, 15, 18}

In [7]:
{x*x for x in s1 | s2}

{1, 4, 9, 16, 25, 36}

In [8]:
[x*x for x in s1 | s2]

[1, 4, 9, 16, 25, 36]

In [9]:
[x*y for x in s1 for y in s2]

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [10]:
# We know set is mutable, but is elements of set mutable?
# i.e, we cannot make a set as an element to another set or a list (but list can have another set/list as element)
# if we use frozenset, then it can have another set as element
{{1,2},3}

TypeError: unhashable type: 'set'